//1
//clients-slider
.wrap-slider {
  width: 100%;
  height: auto;
  .clients-slider {
    .slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 155px;
      outline: none;
      img {
        filter: grayscale(1);
        @include media-breakpoint-down(sm){
          filter: none;
        }
      }
    }
    & .slick-center {
      img {
        filter: grayscale(0);
      }
    }


    .slick-prev:before {
      content: '\2039';
    }
    .slick-next:before {
      content: '\203A';
    }
    .slick-prev,
    .slick-next {
      width: 70px;
      background-color: $white;
      height: 100%;
      z-index: 1;
      @include media-breakpoint-down(sm){
        background-color: transparent;
      }
    }
    .slick-prev{
      left: -10px;
    }
    .slick-next {
      right: -10px;
    }
    .slick-prev:before, .slick-next:before {
      font-size: 40px;
      color: $black;
    }
    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
      background: $white;
      @include media-breakpoint-down(sm){
        background: transparent;
      }
    }

  }
}
//2
.wrap-clients-block {
  background-color: #fff;
  box-shadow: 0 0 50px 0 rgba($black, .15);
  margin: 70px 0;
  .item {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F4F4F4;
  }
}