//1
.we-do-seo {

  .items {
    margin-top: 60px;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      .icon {
        margin-right: 15px;
        width: 50px;
        height: 100%;
        max-width: 50px;
      }
      .text {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        max-width: 400px;
      }
    }
  }

  @include media-breakpoint-down(sm){
    .items {
      margin-top: 40px;

      .item {
        margin-bottom: 15px;
        .icon {
          max-width: 30px;
          width: 100%;
        }
        .text {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}
//2
#advantages_wrap {
  .adv_items {
    margin-top: 30px;
    h2 {
      color: $black;
      text-align: center;
      font-size: 24px;
      font-family: $Semibold;
    }
    p {
      color: $gray;
      font-size: 14px;
      font-style: italic;
    }
    ul > li {
      font-size: 16px;
      color: $black;
      list-style-type: none;
      padding-top: 10px;
      i {
        color: $orange;
        font-size: 20px;
      }
    }
    ul {
      padding: 0 0 0 5px;
    }
  }
}
//3
.block-animation-image.wrap-blocks {
  margin: 50px 0;
  height: 450px;
  width: 100%;
  .link_to {
    text-decoration: none;
    color: inherit;
  }
  .left-block,  .right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(3, 6, 8, 0.5);
    position: relative;
    overflow: hidden;
    color: $white;
    text-align: center;
    background-size: 110%;
    background-position: center;
    transition: 0.3s ease;
    &:hover {
      background-size: 120%;
      background-color: rgba(3, 6, 8, 0.35);
    }

    .title {
      font-size:48px;
      line-height: 50px;
      padding: 0 15px;
      margin-bottom: 30px;
    }
    .descr {
      font-size: 20px;
    }
  }
  .left-block {
    background-image: url(../img/5/policarbon1.png);
  }
  .right-block {
    background-image: url(../img/5/policarbon2.png);
  }
}