//1
.wrap-catalog-1 {
  margin: 70px 0;
  .product-item {
    margin-bottom: 15px;
    .img {
      width: 250px;
      height: auto;
      margin: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .name {
      font-size: 16px;
      line-height: 20px;
      font-family: $Semibold;
      margin: 5px 0;
    }
    .price {
      font-size: 14px;
      font-family: $Light;
      margin-bottom: 20px;
    }
  }
}
//2
.wrap-catalog-2 {
  margin: 70px 0;
  .product-item {
    margin-bottom: 15px;
    .img {
      width: 500px;
      height: auto;
      margin: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .name {
      font-size: 24px;
      line-height: 28px;
      font-family: $Light;
      margin: 0 0 15px 0;
      text-align: center;
    }
    .price {
      font-size: 16px;
      line-height: 20px;
      font-family: $Regular;
      margin-bottom: 20px;
      text-align: center;
    }
    .wrap-button {
      text-align: center;
    }
  }
}