//1
.wrap-product-1 {
  margin: 25px 0;
  .navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .back, .close {
      a {
        display: flex;
        text-decoration: none;
        color: $black;
        i {
          color: $black;
        }
      }
    }
    .back {
      a {
        font-size: 12px;
        i {
          margin-right: 5px;
          font-size: 16px;
        }
      }
    }
    .close {
      a i {
        font-size: 34px;
      }
    }
  }
  .product {
    margin-top: 20px;
    width: 100%;
    .image {
      display: flex;
      flex-direction: column;
      //align-items: center;
      //justify-content: center;
      .product-img-main {
        button.slick-prev.pull-left.slick-arrow,
        button.slick-next.pull-right.slick-arrow{
          z-index: 1;
          .material-icons {
            color: $black;
          }
        }
        .slick-prev {
          left: 0;
        }
        .slick-next {
          right: 0;
        }
        .img-main {
          img {
            width: auto;
            height: 600px;
            margin: auto;
          }
        }
      }
      .product-img-preview {
        .preview {
          //max-width: 100px;
          img {
            width: auto;
            height: 100px;
            margin: auto;
          }
          &.slick-current {
            border: 1px solid #000;
          }
        }
      }
    }
    .description {
      .name-product {
        font-family: $Semibold;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
      }
      .price-product {
        font-size: 18px;
        margin-bottom: 15px;
      }
      .size-product {
        margin-bottom: 40px;
        label {
          font-size: 14px;
          margin: 0;
        }
        select {
          max-width: 200px;
          width: 100%;
          outline: none;
          box-shadow: none;
        }
      }
      .buy {
        margin-bottom: 50px;
      }
      .characteristics {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}