.btn {
  background-color: #000000;
  color: #ffffff;
  height: 50px;
}

.btn-catalog {
  text-decoration: none;
  color: inherit;

  &_black-yellow {
    color: $white;
    background-color: $black;
    width: 130px;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    transition:  0.2s ease;
    &:hover {
      text-decoration: none;
      color: $white;
      background-color: #eba710;
    }
  }

  &_black-green {
    color: $white;
    background-color: $black;
    width: 130px;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
    transition:  0.2s ease;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
      color: $white;
      background-color: #2ec389;
    }
  }

  &_black-gray {
    color: $white;
    background-color: $black;
    display: inline-block;
    text-align: center;
    padding: 15px 18px;
    font-size: 13px;
    transition:  0.2s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    height: 48px;
    &:hover {
      text-decoration: none;
      color: $white;
      background-color: #bfbfbf;
    }
  }

  &_none-fill{
    padding: 15px 40px;
    font-size: 24px;
    border-radius: 5px;
    font-family: $Regular;
    transition: 0.4s;
    background-color: transparent;
    color: $red;
    border: 2px solid $red;
    text-decoration: none;
    &:hover {
      background-color: $red;
      color: $white;
      text-decoration: none;
    }
  }

  &_light {
    color: $black;
    background-color: #f4f4f4;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    transition:  0.2s ease;
    text-transform: uppercase;
    font-family: $Semibold;
    letter-spacing: 0.5px;
    border: 1px solid #f4f4f4;
    &:hover {
      text-decoration: none;
      color: #f4f4f4;
      background-color: transparent;
      border: 1px solid #f4f4f4;
    }
  }
}