@import "fonts";
@import "variable";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "home-page";
@import "2";
@import "3";

body {
  background: $white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: $Light;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  a:focus {
    outline: none;
  }
}

@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";